<div ng-show="$ctrl.data.length">
  <input class="form-control" type="text" placeholder="Filter" ng-model="$ctrl.searchText">
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="(header, value) in $ctrl.data[0]">
          <a href="#" ng-click="$ctrl.sort(header)" ng-class="{dropup:$ctrl.sortReverse}">
            {{header}}
            <span ng-show="$ctrl.sortType == header" class="caret"></span>
          </a>
        </th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.data | orderBy:$ctrl.predicate:$ctrl.sortReverse:$ctrl.comparator | filter:$ctrl.searchText">
        <td ng-repeat="(header, value) in row" ng-bind-html="value | richContent"></td>
        <td><input type="checkbox" ng-model="row.$$visible"></td>
      </tr>
    </tbody>
  </table>
</div>